nav{
    display:flex;
    flex-direction:column;
    gap:12px;
}

nav button{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    border-radius:8px;

    border: none;
    background: none;

    text-decoration: none;
    color: inherit;

    cursor: pointer;
    width: 100%;
    text-align: left;
}

nav button:hover{
    background-color: #DCE9FF;
}