.Logo-Body{
    line-height: 15%;
    
}
.Logo{
    color: #3525CD;
    font-family: "Geist", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.Subtitle{
    color:#464555;
    font-size: 12px;
}